@import url(../vendor/normalize.css);

.page {
    background-color: #2A2C2F;
    
}

.header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 80px; 
}

.header__logo {

}

.header__title {
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    font-size: 96px;
    text-align: center;
    font-weight: bold;
}

.header__subtitle {
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    font-weight: normal;
}

.header__image {
}