section {
    border: 1px solid #ffffff;
}

header {
    border: 1px solid green;
}

li {
    border: 1px solid blueviolet;
}

footer {
    border: 1px solid yellow;
}

@import url(../vendor/normalize.css);

/**
* background para a página
*/

.page {
    background-color: #2A2C2F;
    
}

/**
* definição de fontes como um todo no projeto (excluindo a class artist)
*/

.text {
    font-family: 'Inter', sans-serif;
    color: #ffffff;
}

/**
* definições header
*/

.header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 80px; 
}

.header__logo {

}

.header__title {
    font-size: 96px;
    text-align: center;
    font-weight: bold;
}

.header__subtitle {
    font-size: 30px;
    text-align: center;
    font-weight: normal;
}

.header__image {

}

/**
* definições main
*/


/**
* definições section beuys
*/

/**
* definições section photos
*/

/**
* definições ul table
*/

.table {
    list-style: none;
}

/**
* definições section places
*/

/**
* definições ul place
*/

.place {
    list-style: none;
}

/**
* definições footer
*/