.place__button {
    background-color: #0278FE;
    width: 355px;
    height: 48px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.place__button:hover {
    background-color: #0063D2;
}

@media screen and (max-width: 480px) {
    .place__button {
        width: 288px;
        font-size: 14px;
        grid-column: 1;
    }
}