.header__subtitle {
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    max-width: 720px;
}

@media screen and (max-width: 480px) {
    .header__subtitle {
        max-width: 288px;
        font-size: 16px;
    }
}