.beuys__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1017px;
}

@media screen and (max-width: 1020px) {
    .beuys__container {
        max-width: 720px;
    }
}

@media screen and (max-width: 480px) {
    .beuys__container {
        max-width: 288px;
    }
}