
@import url(../vendor/normalize.css);

/**
* background para a página
*/

@import url(../blocks/page/page.css);

/**
* definições header
*/

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__subtitle/header__subtitle.css);
@import url(../blocks/header/__image/header__image.css);

/**
* definições section beuys
*/

@import url(../blocks/beuys/beuys.css);
@import url(../blocks/beuys/__container/beuys__container.css);
@import url(../blocks/beuys/__title/beuys__title.css);
@import url(../blocks/beuys/__subtitle/beuys__subtitle.css);
@import url(../blocks/beuys/__author/beuys__author.css);
@import url(../blocks/beuys/__text/beuys__text.css);

/**
* definições section photos
*/

@import url(../blocks/photos/photos.css);
@import url(../blocks/table/table.css);
@import url(../blocks/table/__photo/table__photo.css);

/**
* definições section places
*/

@import url(../blocks/places/places.css);
@import url(../blocks/place/place.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__photo/place__photo.css);
@import url(../blocks/place/__artist/place__artist.css);
@import url(../blocks/place/__artist-title/place__artist-title.css);
@import url(../blocks/place/__artist-name/place__artist-name.css);
@import url(../blocks/place/__text/place__text.css);
@import url(../blocks/place/__text-content/place__text-content.css);
@import url(../blocks/place/__button/place__button.css);

/**
* definições footer
*/

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__content/footer__content.css);
@import url(../blocks/footer/__title/footer__title.css);
@import url(../blocks/footer/__text/footer__text.css);
@import url(../blocks/footer/__button/footer__button.css);
@import url(../blocks/footer/__author/footer__author.css);

/**
* background para a página
*/





/**
* definições header
*/



.header__logo {
    padding-bottom: 7vh;
    max-width: 80vh;
}

.header__title {
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    font-size: 96px;
    text-align: center;
    font-weight: 900;
    margin: 0;
    max-width: 720px;
}

.header__subtitle {
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    max-width: 720px;
}

.header__image {
    max-width: 100%;
    min-width: 320px;
    padding-top: 3.5vh;
}


/**
* definições section beuys
*/

.beuys {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 5vh;
}

.beuys__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.beuys__title {
    font-size: 54px;
    font-weight: 900;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    max-width: 1080px;
}

.beuys__subtitle {
    font-size: 24px;
    font-weight: 400;
    max-width: 720px;
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
}

.beuys__author {
    font-size: 24px;
    font-weight: 400;
    text-align: end;
    max-width: 720px;
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
}

.beuys__text {
    font-size: 16px;
    font-weight: 400;
    max-width: 720px;
    padding-top: 3vh;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
}

/**
* definições section photos
*/

.photos {
    overflow:hidden;
    padding-bottom: 5vh;
}

/**
* definições ul table
*/

.table {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
    object-fit: contain;
}

.table__photo {
    width: 100%;
    height: 100%;
}

/**
* definições section places
*/

.places {
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow: hidden;
}

.place {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    column-gap: 40px;
    row-gap: 48px;
    max-width: 1080px;
}

.place__title {
    font-size: 72px;
    font-weight: 900;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
}


.place__photo {
    min-width: 320px;
    grid-row: 2;
}

.place__artist {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.place__artist-title {
    font-family: 'Inter', sans-serif;
    color: #aaaaaa;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.2vh;
}

.place__artist-name {
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}

.place__text {
    grid-column: 2;

}

.place__text-content {
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}

.place__button {
    background-color: #0278FE;
    width: 355px;
    height: 48px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}


/**
* definições footer
*/

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../images/img-footer.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    margin: 5%;
    align-items: center;
}

.footer__title {
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
}

.footer__text {
    font-weight: 400;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
}

.footer__button {
    background-color: #0278FE;
    width: 191px;
    height: 48px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.footer__author {
    align-self: center;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}