.place__artist-title {
    font-family: 'Inter', sans-serif;
    color: #aaaaaa;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.2vh;
    width: 58px;
    height: 15px;
    line-height: 15px;
    margin: 0;
}

@media screen and (max-width: 480px) {
    .place__artist-title {
        max-width: 288px;
    }
}